@function px2rem($px) {
  $rem: 37.5px;
  @return ($px / $rem)+rem;
}

html {
  height: 100%;
  font-family: "PingFangSC-Regular", Helvetica, Tahoma, sans-serif;
  box-sizing: border-box;
}

@import './assets/iconfont/iconfont.css';

#root {
  box-sizing: border-box;
  word-wrap: break-word;

}

@function px2rem($px) {
  $rem: 37.5px;
  @return ($px / $rem)+rem;
}

.shadow {
  position: fixed;
  z-index: 998;
  top: 0;
  width: 100%;
  border-radius: 100%;
  box-shadow: 0 2px 20px 4px #e9e9e9;
}


.color-ds {
  color: #7B6C6F !important;
  border-color: #7B6C6F !important;
}

.color-tg {
  color: #5CDAA8 !important;
  border-color: #5CDAA8 !important;
}

.color-ca {
  color: #FFA200 !important;
  border-color: #FFA200 !important;

}

.color-wtg {
  color: #FF0531 !important;
  border-color: #FF0531 !important;

}

.color-yzs {
  color: #1468B1 !important;
  border-color: #1468B1 !important;
}